
.top a:link,
.top a:visited {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

section{
 	padding: 200px 0;
	@media only screen and (max-width: 375px){
		padding: 100px 0;
	}	
}

.heading{
	// font-family:  'Playfair Display', serif;
	font-size: 100px;
	line-height: 120px;

	@media only screen and (max-width: 414px){
		font-size: 50px;
		line-height: 80px;
	}	
}

.text{
	font-size: 16px;
	line-height: 32px;
}


// FRONT PAGE
.hero{
	position: relative;
	height: 100vh;
	@media only screen and (max-width: 812px) and (min-width: 736px){
		height: 150vh;
	}

	&__content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		&-img{
			height: 150px;
			width: auto;
			margin-bottom: 50px;

			@media only screen and (max-width: 812px){
				height: 100px;
			}

			@media only screen and (max-width: 414px){
				height: 75px;
			}
		}

		&-text{
			font-family: 'Roboto Slab', serif;
			font-size: 20px;
			line-height: 1.8;

			@media only screen and (max-width: 414px){
				font-size: 16px;
			}			
		}
	}
}

.font-1{
	background-image: linear-gradient(rgba(#d10156,.6), rgba(#d10156,.7	)), url("../img/font-1-img.jpg");
	background-size: cover;
	color: #efefef;

	&__head{
		font-family:  'Playfair Display', serif;

		@media only screen and (max-width: 414px){
			font-size: 50px;
			line-height: 1.5;
		}
	}

	&__text{
		font-family: 'Fauna One', serif;
	}
}

.font-2{
	background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/font-2-img.jpg");
	background-size: cover;
	color: #efefef;

	&__head{
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
	}

	&__text{
		font-family: 'Lato', sans-serif;
		width: 60%;	
		@media only screen and (max-width: 660px){
			width: 100%;
		} 
	}
}

.font-3{
	background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/font-33-img.jpg");
	background-size: cover;
	color: #333;

	.top a:link,
	.top a:visited {
		color: #333;
	}

	&__head{
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		span {
			font-weight: 200;
		}
	}

	&__text{
		font-family: 'Roboto', sans-serif;
		width: 60%;
		
		@media only screen and (max-width: 660px){
			width: 100%;
		} 
	}
}

// font-4
$font-4-prim: #ffc3a0;
$font-4-sec: #ffafbd;
.font-4{
	background-image: linear-gradient(rgba($font-4-prim,.9), rgba($font-4-sec,.8)), url("../img/font-4-img.jpg");
	background-size: cover;
	color: #3b3b3b;

	.top a:link,
	.top a:visited {
		color: #3b3b3b;
	}

	&__head{
		font-family: 'Yellowtail', cursive;
	}

	&__text{
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
	}
}

// font-5
$font-5-prim: #B7F8DB;
$font-5-sec: #50A7C2;
.font-5{
	background-image: linear-gradient(rgba($font-5-prim,.5), rgba($font-5-sec,.9)), url("../img/font-5-img.jpg");
	background-size: cover;
	color: #3b3b3b;

	.top a:link,
	.top a:visited {
		color: #3b3b3b;
	}

	.heading{
		font-size: 50px;
		line-height: 60px;

		@media only screen and (max-width: 414px){
			font-size: 35px;
		}	
	}

	&__head{
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-weight: 600;

		&-1{
			font-weight: 300;			
		}
	}

	h2 {
		overflow: hidden;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		margin: 50px 0;

		@media only screen and (max-width: 414px){
			font-size: 20px;
		}	
	}
	h2:before,
	h2:after {
		background-color: #333;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 10%;
	}
	
	h2:before {
		right: 0.5em;
		margin-left: -50%;
	}
	
	h2:after {
		left: 0.5em;
		margin-right: -50%;
	}



	&__text{
		font-family: 'Alegreya', serif;
	}
}

// font-6
$font-6-prim: #ffd89b;
$font-6-sec: #19547b;
.font-6{
	background-image: linear-gradient(rgba($font-6-prim,.9), rgba($font-6-sec,.8)), url("../img/font-6-img.jpg");
	background-size: cover;
	color: #fff;
	// padding: 100px 200px;
	

	.heading{
		font-size: 80px;
		line-height: 90px;

		@media only screen and (max-width: 1200px){
			font-size: 70px;
		}
		
		@media only screen and (max-width: 375px){
			font-size: 50px;
			line-height: 50px;
		}	
	}

	.top a:link,
	.top a:visited {
		color: #fff;
	}

	&__head{
		font-family: 'Abril Fatface', cursive;
	}

	&__text{
		font-family: 'Open Sans', sans-serif;

		&-quote{
			font-size: 20px;
			font-family: 'Playfair Display', serif;
			margin: 100px 0 80px 0;
		
			@media only screen and (max-width: 375px){
				margin: 50px 0 25px 0;
			}	
		}
	}
}

// font-7
.font-7{
	background-image: linear-gradient(rgba(228,190,53,.5), rgba(228,190,53,.8)), url("../img/font-7-img.jpg");
	background-size: cover;
	color: #da2026;
	height: 100vh;
	position: relative;

	.top a:link,
	.top a:visited {
		color: #da2026;
	}
	
	&__content{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		a{
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-weight: 800;
			letter-spacing: 3px;
			color: #e4be35;
			background-color: #da2026;
			border-radius: 5px;
			padding: 10px 35px;
			margin-top: 50px;

			@media only screen and (max-width: 375px){
				padding: 5px 20px;
				font-size: 12px;
				margin-top: 28px;
			}
		}
	}

	&__head{
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 70px;
		font-weight: 900;
		
		@media only screen and (max-width: 768px){
			font-size: 50px;
		}	
		
		@media only screen and (max-width: 414px){
			font-size: 25px;
		}			
	}

	&__text{
		font-family: 'Playfair Display', serif;
		font-size: 50px;
		
		@media only screen and (max-width: 768px){
			font-size: 30px;
			margin-top: -10px;
		}		

		@media only screen and (max-width: 375px){
			font-size: 20px;
		}
	}
}

// font-8
$font-8-prim: #CFCFCF;
$font-8-sec: #BBBBBB;
.font-8{
	background-image: linear-gradient(rgba($font-8-prim,.8), rgba($font-8-sec,.8)), url("../img/font-8-img.jpg");
	background-size: cover;
	color: #333;
	// padding: 100px 200px;
	// height: 100vh;

	.top a:link,
	.top a:visited {
		color: #333;
	}

	&__head{
		font-family: 'Lato', sans-serif;
		font-size: 50px;
		
		&:after{
			display: block;
			content: '';
			background-color: #333;
			height: 3px;
			width: 150px;
		}

		&-light{
			font-weight: 300;
		}
		&-strong {
			font-weight: 900;
		}
	}

	&__text{
		font-family: 'Roboto Slab', serif;
		width: 70%;

		@media only screen and (max-width: 414px){
			width: 100%;
		}		
		
		p{
			margin-bottom:0;
		}

		&-strong{
			font-weight: 700;
		}

		&-big{
			font-family: 'Lato', sans-serif;
			font-size: 30px;
			font-weight: 300;
			@media only screen and (max-width: 660px){
				line-height: 1.5;
			} 
		}
	}
}

// FOOTER
footer{
	padding: 50px 0;
	font-family: 'Roboto Slab', serif;
	text-align: center;

	p{
		margin-bottom: 0;
	}

	a{
		&:link,
		&:visited{
			font-size: 1.6rem;
			color: inherit;
			transition: .2s all;
			text-decoration: none;
		}

		&:hover{
			color: #555;
		}
	}
}